alembic==1.18.3
blinker==1.9.0
boto3==1.42.44
botocore==1.42.44
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorlog==6.10.1
Flask==3.1.2
greenlet==3.3.1
gunicorn==25.0.3
idna==3.11
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.1.0
Mako==1.3.10
MarkupSafe==3.0.3
-e git+ssh://git@github.com/lkingsford/mon2y_rs.git@823e9c77c7de38a074fcd2af0639c37b4d2f71ef#egg=mon2y_dist&subdirectory=python/mon2y_dist
-e git+ssh://git@github.com/lkingsford/mon2y_rs.git@823e9c77c7de38a074fcd2af0639c37b4d2f71ef#egg=mon2y_trial_daemon&subdirectory=python/mon2y_trial_daemon
numpy==2.4.2
optuna==4.7.0
packaging==26.0
pluggy==1.6.0
psutil==7.2.2
psycopg2-binary==2.9.11
Pygments==2.19.2
pytest==9.0.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
s3transfer==0.16.0
six==1.17.0
SQLAlchemy==2.0.46
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.5
