[Unit]
Description=Mon2y Dashboard
After=network.target

[Service]
# It is recommended to create a dedicated user and group for this service
# User=mon2y
# Group=mon2y
WorkingDirectory=/opt/dashboard
# Assumes the wheel has been installed in a venv at /opt/dashboard/venv
ExecStart=/opt/dashboard/venv/bin/gunicorn -w 4 'mon2y_dashboard.app:app.server' --bind 0.0.0.0:8050
Restart=always
# The DIST_URI should point to the mon2y_dist service
Environment="DIST_URI=http://127.0.0.1:5000"

[Install]
WantedBy=multi-user.target
